.root {
  display: flex;
  border-bottom: 1px solid black;

  .product {
    width: 250px;
    height: 250px;
    border-right: 1px solid black;

    .title {
      text-decoration: none;
      padding: 10px;
    }
  }

  .description {
    padding: 10px;
  }
}
