.item {
  margin: 10px;
  width: 250px;
  height: 250px;

  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.3);

  .title {
    text-decoration: none;
    padding: 10px;
  }

  img {
    width: 100%;
    height: calc(100% - 50px);
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
  }
}
